---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: CurrentLine
BreakConstructorInitializers: BeforeColon
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: Align
IncludeBlocks: Preserve
SortIncludes: CaseInsensitive
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
Standard: c++17
